
div#account {
    width: 400px;
    height: 71px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    div#dataAccountBanco {

        display: flex;
        align-items: center;

        margin-left: 10px;

        position: relative;

        img[src="/iconSeta.svg"] {
            margin-left: 10px;
        }

        img[src="/iconPopoverCopiar.svg"] {
            position: absolute;
            bottom: 10px;

            display: none;
        }
        
        // img[src="/iconPopoverCopiar.svg"].mostrarPop {
        //     display: block;
        // }

        // img[src="/iconPopoverCopiar.svg"].esconderPop {
        //     display: none;
        // }

        img[src="/CopySimple.svg"] {
            margin: 0px 10px;
        }

        div.textoConta {
            margin-top: 5px;

            position: relative;

            span#dataBanco {
                color: var(--purple-one);
                cursor: pointer;
            }
        }

        div.textoConta:nth-of-type(1):hover {

            img#pop1 {
                display: block;
            }
        }

        div.textoConta:nth-of-type(2):hover {

            img#pop2 {
                display: block;
            }
        }
        
        div.textoConta:nth-of-type(2) {
            margin-left: 20px;
        }

        div#iconBox {
            width: 10px;
            height: 10px;

            div {
                width: 10px;
                height: 10px;

                border: 1px solid black;
            }
        }

        img.opcoesAbertas, img.opcoesFechadas {
            transition: all 0.5s;
        }
        img.opcoesAbertas {
            transform: rotate(-180deg);
        }

        img.opcoesFechadas {
            transform: rotate(0);
        }

        div#image {
            position: relative;

            img[src="/iconPopCopiarTudo.svg"] {
                position: absolute;
                top: -35px;
                left: -7.5px;

                display: none;
            }

            img[src="/CopySimple.svg"] {
                cursor: pointer;
            }
        }
        
        div#image:hover {

            img[src="/iconPopCopiarTudo.svg"] {
                display: block;
            }
        }
    }
}