* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --purple-one: #7007EA;
    --purple-two: #142766;
    --divider: #E5E4E2;
    --green: #69D531;
    --white: #ffffff;
    --Greyish-Green: #778899;
    --border-color-user: #4C77BF;
    --purple-nav: #622EE5;

}

div#container {
    display: flex;
    
}