div#containerMain {
    margin-left: 20px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    div#barTop {
        display: flex;
        align-items: center;

        div#listaBotoes {
            display: flex;
        }
    }

    div#bottomBar {
        margin-top: 35px;

        position: relative;
    }
}