header#header {
    width: 100%;

    align-items: center;

    div#details {
        
        justify-content: flex-start;

        div.logo {
            width: 160px;
            
            margin-left: 10px;

            justify-content: flex-start;
            align-items: center;
    
            div#logoIcon {
                width: 40px;
                height: 40px;
    
                position: relative;
    
                img {
                    position: absolute;
    
                }
    
                img[src="./iconPartOne.svg"] {
                    top: 50%;
                    left: 50%;
                    transform: translate(-59%, -70.5%);
                }
    
                img[src="./iconPartTwo.svg"] {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }
    
            p {
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
    
                span#logoNameDual {
                    color: var(--purple-one);
                }

                span#logoNameBank {
                    color: var(--purple-two);
                }
            }
        }

    }

    div#account {
        width: 400px;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        div#option {
            width: 350px;

            margin-left: 10px;

            span#text, img {
                margin: 0px 5px;
            }

            span#dataBanco {
                color: var(--purple-one)
            }

            span#dataBanco:nth-of-type(2) {
                margin-left: 20px;
            }

            div#iconBox {
                width: 10px;
                height: 10px;

                div {
                    width: 10px;
                    height: 10px;

                    border: 1px solid black;
                }
            }
        }

        div#option:nth-of-type(2) {
            display: flex;
        }
    }

    div#space {
        height: 30px;
        width: 1px;

        border-radius: 20px;

        background-color: var(--divider);
    }
}


header#header, div.logo, div#details, div#account {
    display: flex;
    height: 71px;
}