header#header {
    width: 100%;

    align-items: center;
}

div#parteConta {
    align-items: center;
}

header#header {
    justify-content: space-between;
}

div#parteUsuario {
    justify-content: flex-end;
    align-items: center;

    width: 350px;

    margin-right: 20px;
}

header#header, div#parteConta, div#parteUsuario {
    display: flex;
    height: 71px;
}