div#buttonMain {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 35px;

    margin: 0 10px;
    
    background: linear-gradient(135deg, #FFFFFF 0%, #E5E4E2 100%);

}