div#itemIcon {
    width: 42px;
    height: 40px;

    
    div {
        width: 42px;
        height: 40px;
    }

    div#areaIcon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div.bgColorOn {
            background-color: var(--purple-nav);

        }

        div.bgColorOff {
            background-color: var(--white);

        }
    }
}

// @keyframes icon-aparecer {
//     to {
//         background-color: var(--white);
//     }

//     from {
//         background-color: var(--purple-nav)
//     }
// }

// @keyframes icon-desaparecer {
//     to {
//         background-color: var(--purple-nav);
//     }

//     from {
//         background-color: var(--white);
//     }
// }

div#itemIcon, div#areaIcon, div#areaIcon > div {
    display: flex;
    justify-content: center;
    align-items: center;
}